body {
  background-color: #ffb3b3;
}
.calculator-wrapper {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%);

  padding: 25px 18px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: #b3c6ff;
  box-shadow: 0 6px 14px black;
  border: 2px solid rgb(170, 175, 173);
}
.output {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow-x: visible;
  padding: 6px;
  font-size: 22px;
  color: gray;
  border: 4px solid rgb(224, 215, 215);
  background-color: white;
  border-radius: 10px;
  outline: none;
}
.buttons-wrapper {
  display: grid;
  grid-template-columns: auto auto auto  auto;
  gap: 8px;
}
button {
  padding: 8px;
  font-size: 20px;
  background-color: rgb(92, 70, 70);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.disabled {
  pointer-events: none;
}


@media(max-width: 360px) {
  .output {
    font-size: 16px;
  }
}